GameClient/UIElementsSchema/UnityEngine.Localization.SmartFormat.PersistentVariables.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="UnityEngine.Localization.SmartFormat.PersistentVariables" elementFormDefault="qualified" targetNamespace="UnityEngine.Localization.SmartFormat.PersistentVariables" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UIntVariableType">
    <xs:sequence>
      <xs:element xmlns:q1="UnityEngine.UIElements" ref="q1:VisualElement" />
    </xs:sequence>
    <xs:attribute default="0" name="value" type="xs:unsignedInt" />
  </xs:complexType>
  <xs:element name="UIntVariable" type="tns:UIntVariableType" />
  <xs:complexType name="FloatVariableType">
    <xs:sequence>
      <xs:element xmlns:q2="UnityEngine.UIElements" ref="q2:VisualElement" />
    </xs:sequence>
    <xs:attribute default="0" name="value" type="xs:float" />
  </xs:complexType>
  <xs:element name="FloatVariable" type="tns:FloatVariableType" />
  <xs:complexType name="DoubleVariableType">
    <xs:sequence>
      <xs:element xmlns:q3="UnityEngine.UIElements" ref="q3:VisualElement" />
    </xs:sequence>
    <xs:attribute default="0" name="value" type="xs:double" />
  </xs:complexType>
  <xs:element name="DoubleVariable" type="tns:DoubleVariableType" />
  <xs:complexType name="ShortVariableType">
    <xs:sequence>
      <xs:element xmlns:q4="UnityEngine.UIElements" ref="q4:VisualElement" />
    </xs:sequence>
    <xs:attribute default="0" name="value" type="xs:short" />
  </xs:complexType>
  <xs:element name="ShortVariable" type="tns:ShortVariableType" />
  <xs:complexType name="LongVariableType">
    <xs:sequence>
      <xs:element xmlns:q5="UnityEngine.UIElements" ref="q5:VisualElement" />
    </xs:sequence>
    <xs:attribute default="0" name="value" type="xs:long" />
  </xs:complexType>
  <xs:element name="LongVariable" type="tns:LongVariableType" />
  <xs:complexType name="IntVariableType">
    <xs:sequence>
      <xs:element xmlns:q6="UnityEngine.UIElements" ref="q6:VisualElement" />
    </xs:sequence>
    <xs:attribute default="0" name="value" type="xs:int" />
  </xs:complexType>
  <xs:element name="IntVariable" type="tns:IntVariableType" />
  <xs:complexType name="ObjectVariableType">
    <xs:sequence>
      <xs:element xmlns:q7="UnityEngine.UIElements" ref="q7:VisualElement" />
    </xs:sequence>
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <xs:element name="ObjectVariable" type="tns:ObjectVariableType" />
  <xs:complexType name="BoolVariableType">
    <xs:sequence>
      <xs:element xmlns:q8="UnityEngine.UIElements" ref="q8:VisualElement" />
    </xs:sequence>
    <xs:attribute default="false" name="value" type="xs:boolean" />
  </xs:complexType>
  <xs:element name="BoolVariable" type="tns:BoolVariableType" />
  <xs:complexType name="StringVariableType">
    <xs:sequence>
      <xs:element xmlns:q9="UnityEngine.UIElements" ref="q9:VisualElement" />
    </xs:sequence>
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <xs:element name="StringVariable" type="tns:StringVariableType" />
  <xs:complexType name="ULongVariableType">
    <xs:sequence>
      <xs:element xmlns:q10="UnityEngine.UIElements" ref="q10:VisualElement" />
    </xs:sequence>
    <xs:attribute default="0" name="value" type="xs:unsignedLong" />
  </xs:complexType>
  <xs:element name="ULongVariable" type="tns:ULongVariableType" />
  <xs:complexType name="UShortVariableType">
    <xs:sequence>
      <xs:element xmlns:q11="UnityEngine.UIElements" ref="q11:VisualElement" />
    </xs:sequence>
    <xs:attribute default="0" name="value" type="xs:unsignedShort" />
  </xs:complexType>
  <xs:element name="UShortVariable" type="tns:UShortVariableType" />
  <xs:complexType name="SByteVariableType">
    <xs:sequence>
      <xs:element xmlns:q12="UnityEngine.UIElements" ref="q12:VisualElement" />
    </xs:sequence>
    <xs:attribute default="0" name="value" type="xs:byte" />
  </xs:complexType>
  <xs:element name="SByteVariable" type="tns:SByteVariableType" />
  <xs:complexType name="ByteVariableType">
    <xs:sequence>
      <xs:element xmlns:q13="UnityEngine.UIElements" ref="q13:VisualElement" />
    </xs:sequence>
    <xs:attribute default="0" name="value" type="xs:unsignedByte" />
  </xs:complexType>
  <xs:element name="ByteVariable" type="tns:ByteVariableType" />
</xs:schema>